body{
    background-color: hsl(225, 100%, 94%);
    background-image: url("/order-summary-component-main/images/pattern-background-desktop.svg");
    background-size: 100%;  
    background-repeat: no-repeat;
}

.imaghero{
    display: block;
    border-radius: 10px 10px 0px 0px
}

.imaghero, .ordersummary{
    width: 250px;
    margin: auto;
}
.ordersummary{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
}

.h1, .introductorio, .letrasplan, .letraboton, .letraboton2{
    font-family: 'Red Hat Display', sans-serif;
}

h1{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.introductorio{
    font-size: 10px;
    color: hsl(224, 23%, 55%);
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.5;
}

.ordersummary .plan{
    background-color: hsl(225, 100%, 98%); 
    margin-right: 25px;
    margin-left: 25px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 10px;    
}

.letrasplan, .precio, .musicicon{
    float: left;
}

.letrasplan{
    padding-left: 5px;
    margin-bottom: 0px;
}

.precio{
    margin-top: 0px;
    position: relative;
    top: 5px;
    bottom: 0px;
    right: 80px;
    left: 5px;
}

.musicicon{
    width: 30px;
    padding-left: 15px;
    padding-top: 10px;
}

.change{
    float: right;
    padding-right: 15px;
}

.boton{
    background-color:hsl(245, 75%, 52%);
    height: 25px;
    margin-top: 0;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 15px hsl(210, 6%, 67%);
}
.letraboton{
    color: white;
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
}

.boton:hover{
    background-color:hsl(245, 75%, 34%);
}

.boton2{
    height: 25px;
    margin-top: 0;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 5px;
    margin-bottom: 15px;  
}

.letraboton2{
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
}

.boton2:hover{
    background-color: rgb(226, 226, 226);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


footer{
    padding-top: 5px;
}

@media screen and (max-width: 800px){
    .imaghero, .ordersummary{
        width: 200px;
    }
}


